<body>
  <div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <form>
      <div class="mb-3">
        <label for="UserInput" class="form-label">Usuário</label>
        <input type="text" class="form-control" id="UserInput">
      </div>
      <div class="mb-3">
        <label for="PasswordInput" class="form-label">Senha</label>
        <input type="password" class="form-control" id="PasswordInput">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="InputCheckbox">
        <label class="form-check-label" for="InputCheckbox">Mantenha-me conectado</label>
      </div>
      <div class="mb-3 d-grid gap-2">
        <button type="submit" class="btn btn-dark fw-semibold">Entrar</button>
      </div>
      <div class="mb-3 d-flex flex-row">
        <div class="col">
          <p class="text-decoration-underline text-start">Recuperar Senha</p>
        </div>
        <div class="col">
          <p class="text-decoration-underline text-end">Cadastre-se</p>
        </div>
      </div>
    </form>
  </div>
</body>
