<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Lorem ipsum</span>
      </div>
    </nav>
  </header>

  <main>
    <div class="container min-vh-100">

      <div class="d-lg-flex flex-row justify-content-center">
        <div class="card m-2 h-100 ps-5 pe-5">
          <div class="card-body pt-4 ps-5 pe-5">
            <p class="fw-bold fs-2 text-center ps-5 pe-5">Bem Vindo!</p>
          </div>
        </div>
      </div>

      <div class="d-lg-flex flex-row justify-content-center">
        <div class="card m-2">

          <p class="fw-bold p-1">Dados do Aluno</p>

          <div class="card-body pt-4">

            <div class="row">
              <label for="NameInput">Nome</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="NameInput" name="name">
              </div>
            </div>

            <div class="row">

              <div class="col">
                <label for="RGMInput">RGM</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="RGMInput" name="rgm">
                </div>
              </div>

              <div class="col">
                <label for="ClassInput">Turma</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="ClassInput" name="class">
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

      <div class="d-lg-flex flex-row justify-content-center">
        <div class="card m-2">

          <p class="fw-bold p-1">Notas do Aluno</p>

          <div class="card-body pt-4">

            <div class="row">

              <div class="col">
                <label for="FirstGradeInput">1° Avaliação</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" id="FirstGradeInput" name="first_grade">
                </div>
              </div>

              <div class="col">
                <label for="SecondGradeInput">2° Avaliação</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" id="SecondGradeInput" name="second_grade">
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col">
                <div class="mb-3 d-grid gap-2">
                  <button type="submit" class="btn btn-dark fw-semibold mt-3 p-2">Calcular Média</button>
                </div>
              </div>

              <div class="col">
                <label for="AvarageInput">Média Final</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" id="AvarageInput" name="avarage">
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

      <div class="d-lg-flex flex-row justify-content-center">
        <div class="mb-3 d-grid gap-2">
          <button type="submit" class="btn btn-dark fw-semibold">Confirmar</button>
        </div>
       </div>

    </div>
  </main>

</body>
